##### **Step 3: In groups, create a Jupyter notebook that shows the mortgage problem solved in Python. Make sure to:**
* Illustrate how your data structure is used to solve the problem from GWP 1.
* Ensure that your results match the results from the spreadsheet.

In [221]:
import pandas as pd
import numpy as np

pd.set_option('display.precision',2)
pd.set_option('styler.format.thousands','.')

In [266]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vS5svAeBupJJ5CsK94DPLLTTVB4ZuckMMi-suaBzzajdfbe2amCffYEz9KysCItneZ7Jk65eesKFWTN/pub?output=csv")
df = df.iloc[:,:3]
pd.to_datetime(df.DATE)

0      1971-04-02
1      1971-04-09
2      1971-04-16
3      1971-04-23
4      1971-04-30
          ...
2667   2022-05-12
2668   2022-05-19
2669   2022-05-26
2670   2022-06-02
2671   2022-06-09
Name: DATE, Length: 2672, dtype: datetime64[ns]

,Unnamed: 0,DATE,MORTGAGE30US,Unnamed: 3,Unnamed: 4,Position,Rates
0,1,"April 2, 1971",7.33,NaN,Start,1549.0,7.65
1,2,"April 9, 1971",7.31,NaN,NaN,1550.0,7.54
2,3,"April 16, 1971",7.31,NaN,NaN,1551.0,7.42
3,4,"April 23, 1971",7.31,NaN,NaN,1552.0,7.17
4,5,"April 30, 1971",7.29,NaN,NaN,1553.0,7.13

In [252]:
def mortgage(yearsduration, annualrate, start_date=np.nan, principal=1000000):

    ratemonthly = annualrate/12
    period = yearsduration*12+1

    start_date = pd.to_datetime(start_date)

    simulatedrate = pd.read_csv('https://docs.google.com/spreadsheets/d/1RtnWyff96fv45hHDbsVWF1tPKPlX_Z4vhBb6owx59xI/pub?output=csv')

    principalremaining = \
        [principal * ((1+ratemonthly)**(yearsduration*12)-(1+ratemonthly)**m)/((1+ratemonthly)**(yearsduration*12)-1) \
        for m in range(period)]
    cashflow = [principal * ratemonthly/(1-1/((1+ratemonthly)**(yearsduration*12))) if m!=0 else 0 for m in range(period)]
    openningbalance = [principal]+principalremaining[:-1]
    principalpaid = np.array(openningbalance)-np.array(principalremaining)
    interestpaid = cashflow-principalpaid

    df = pd.DataFrame(columns=["Month","Opening Principal Balance","Rates","Cashflow",
                               "Interest Paid","Principal Paid","Closing Princial Balance"])
    df["Month"] = [m for m in range(period)]
    df["Rates"] = ratemonthly
    df["Cashflow"] = cashflow
    df["Closing Princial Balance"] = principalremaining
    df["Opening Principal Balance"] = openningbalance
    df["Interest Paid"] = interestpaid
    df["Principal Paid"] = principalpaid

    df.set_index('Month',inplace=True)

    return df

#### **Mortgage 1:**
* Time: 30 years
* Rate: 4%
* Principal Amount: $1,000,000
* Total Interest Paid: $718,695.06

In [235]:
Mortgage1 = mortgage(30,0.04)
Mortgage1

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
0,1000000.00,3.33e-03,0.00,0.00,0.00,1000000.00
1,1000000.00,3.33e-03,4774.15,3333.33,1440.82,998559.18
2,998559.18,3.33e-03,4774.15,3328.53,1445.62,997113.56
3,997113.56,3.33e-03,4774.15,3323.71,1450.44,995663.12
4,995663.12,3.33e-03,4774.15,3318.88,1455.28,994207.84
...,...,...,...,...,...,...
356,23633.90,3.33e-03,4774.15,78.78,4695.37,18938.53
357,18938.53,3.33e-03,4774.15,63.13,4711.02,14227.50
358,14227.50,3.33e-03,4774.15,47.43,4726.73,9500.78
359,9500.78,3.33e-03,4774.15,31.67,4742.48,4758.29
360,4758.29,3.33e-03,4774.15,15.86,4758.29,0.00

#### **Mortgage 2:**
* Time: 20 years
* Rate: 2.5%
* Principal Amount: $1,000,000
* Total Interest Paid: $271,766.94

In [236]:
Mortgage2 = mortgage(20,0.25)
Mortgage2

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
0,1000000.00,0.02,0.00,0.00,0.00,1000000.00
1,1000000.00,0.02,20982.16,20833.33,148.83,999851.17
2,999851.17,0.02,20982.16,20830.23,151.93,999699.24
3,999699.24,0.02,20982.16,20827.07,155.09,999544.15
4,999544.15,0.02,20982.16,20823.84,158.33,999385.82
...,...,...,...,...,...,...
236,98659.83,0.02,20982.16,2055.41,18926.75,79733.08
237,79733.08,0.02,20982.16,1661.11,19321.06,60412.02
238,60412.02,0.02,20982.16,1258.58,19723.58,40688.44
239,40688.44,0.02,20982.16,847.68,20134.49,20553.96
240,20553.96,0.02,20982.16,428.21,20553.96,0.00

#### **Mortgage 3:**
* Time: 30 years
* Rate: 7-1 Adjustable
* Principal Amount: $1,000,000
* Total Interest Paid: $1,488,119.85

In [254]:
rate7_1 = 1
Mortgage3 = mortgage(30,rate7_1,'198912-01')
Mortgage3

ParserError: month must be in 1..12: 198912-01