##### **Step 3: In groups, create a Jupyter notebook that shows the mortgage problem solved in Python. Make sure to:**
* Illustrate how your data structure is used to solve the problem from GWP 1.
* Ensure that your results match the results from the spreadsheet.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.precision',2)
pd.set_option('styler.format.thousands','.')

$$\text{Principal Remaining} =
\frac{principal\left[\left(1+r_{m}\right)^{n}-\left(1+r_{m}\right)^{m}\right]}{\left[\left(1+r_{m}\right)^{n}-1\right]}
$$

$$\text{Cashflow} =\frac{\mathrm{principal} \times \mathrm{ratemonthly}}{1-\frac{1}{(1+\mathrm{ratemonthly})^{\mathrm{yearsduration}\times 12}}}$$

where:



P is the principal amount

r_m is the monthly interest rate

n is the total number of months (i.e., the number of years times 12)

m is the number of months that have already passed.

In [2]:
def mortgage(yearsduration=0, annualrate=0, start_date=0, principal=1000000):
    """
    define the mortgage function to get dataframe
    """

    period = yearsduration*12 # Periods in Month
    arr_principal = principal * np.ones(period)

    if start_date == 0:
        ratemonthly = annualrate/12 * np.ones(period) # array of ratemonthly if don't have start date
   
    principalremaining = arr_principal * \
        ((1+ratemonthly)**(period)-(1+ratemonthly)**np.arange(1,period+1))/((1+ratemonthly)**(period)-1) # function note 1
    cashflow = arr_principal * ratemonthly/(1-1/((1+ratemonthly)**(period))) # function note 2
    openningbalance = np.concatenate([[principal],principalremaining[:-1]]) # add principal at the beginning of the array.
    principalpaid = openningbalance-principalremaining
    interestpaid = cashflow-principalpaid

    df = pd.DataFrame(columns=["Month","Opening Principal Balance","Rates","Cashflow",
                               "Interest Paid","Principal Paid","Closing Princial Balance"])
    df["Month"] = np.arange(1,period+1)
    df["Rates"] = ratemonthly*12
    df["Cashflow"] = cashflow
    df["Closing Princial Balance"] = principalremaining
    df["Opening Principal Balance"] = openningbalance
    df["Interest Paid"] = interestpaid
    df["Principal Paid"] = principalpaid

    df.set_index('Month',inplace=True)

    return df

#### **Mortgage 1:**
* Time: 30 years
* Rate: 4%
* Principal Amount: $1,000,000
* Total Interest Paid: $718,695.06

In [3]:
Mortgage1 = mortgage(30,0.04)
Mortgage1

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
1,1000000.00,0.04,4774.15,3333.33,1440.82,998559.18
2,998559.18,0.04,4774.15,3328.53,1445.62,997113.56
3,997113.56,0.04,4774.15,3323.71,1450.44,995663.12
4,995663.12,0.04,4774.15,3318.88,1455.28,994207.84
5,994207.84,0.04,4774.15,3314.03,1460.13,992747.71
...,...,...,...,...,...,...
356,23633.90,0.04,4774.15,78.78,4695.37,18938.53
357,18938.53,0.04,4774.15,63.13,4711.02,14227.50
358,14227.50,0.04,4774.15,47.43,4726.73,9500.78
359,9500.78,0.04,4774.15,31.67,4742.48,4758.29
360,4758.29,0.04,4774.15,15.86,4758.29,0.00

#### **Mortgage 2:**
* Time: 20 years
* Rate: 2.5%
* Principal Amount: $1,000,000
* Total Interest Paid: $271,766.94

In [4]:
Mortgage2 = mortgage(20,0.025)
Mortgage2

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
1,1000000.00,0.03,5299.03,2083.33,3215.70,996784.30
2,996784.30,0.03,5299.03,2076.63,3222.39,993561.91
3,993561.91,0.03,5299.03,2069.92,3229.11,990332.80
4,990332.80,0.03,5299.03,2063.19,3235.84,987096.97
5,987096.97,0.03,5299.03,2056.45,3242.58,983854.39
...,...,...,...,...,...,...
236,26330.35,0.03,5299.03,54.85,5244.17,21086.18
237,21086.18,0.03,5299.03,43.93,5255.10,15831.08
238,15831.08,0.03,5299.03,32.98,5266.05,10565.03
239,10565.03,0.03,5299.03,22.01,5277.02,5288.01
240,5288.01,0.03,5299.03,11.02,5288.01,0.00

#### **Mortgage 3:**
* Time: 30 years
* Rate: 7-1 Adjustable
* Principal Amount: $1,000,000
* Total Interest Paid: $1,488,119.85

In [ ]:
Mortgage3 = mortgage(yearsduration=30,start_date='1990-01-01')
Mortgage3

<details>
<summary>m3</summary>

    else:
        # Read and transform given rate file in GWP1

        ratedf = pd.read_csv("https://docs.google.com/spreadsheets/d/e/"\
            "2PACX-1vS5svAeBupJJ5CsK94DPLLTTVB4ZuckMMi-suaBzzajdfbe2"\
                "amCffYEz9KysCItneZ7Jk65eesKFWTN/pub?output=csv"
        )
        
        ratedf = ratedf.iloc[:,1:3]
        ratedf.DATE = pd.to_datetime(ratedf.DATE)
        ratedf.sort_values("DATE",inplace=True)
        ratedf['Year'] = pd.DatetimeIndex(ratedf.DATE).year

        start_date = pd.to_datetime(start_date)
        rangedatemonth = pd.date_range(start=start_date,periods=period,freq='MS') # initial array of period in monthly from start date

        rate = []
        l_principal = []

        for d in rangedatemonth:
            if d.year < (start_date.year+7):
                rate.append(ratedf[~(ratedf['Year'] >= start_date.year)][-1:].MORTGAGE30US.to_list()[0])
            else:
                rate.append(ratedf[~(ratedf['Year'] >= d.year)][-1:].MORTGAGE30US.to_list()[0]) # year duration - 7 years

        ratemonthly = np.array(rate)/100/12

        principalremaining = principal * \
        ((1+ratemonthly)**(period)-(1+ratemonthly)**np.arange(1,period+1))/((1+ratemonthly)**(period)-1) # function note 1

        for p in range(yearsduration):
            if p <= 7 :
                l_principal.append([principal]*12)
            else:
                l_principal.append(principalremaining[p]*12)
        
        principalremaining
</details>