In [4]:
import numpy as np
import pandas as pd
import numpy_financial as npf

pd.options.display.float_format = '${:,.2f}'.format
# pd.set_option('display.max_rows', None)

#### **Mortgage 1:**
* Time: 30 years
* Rate: 4%
* Principal Amount: $1,000,000

In [10]:
principal = 1000000
rate = 0.04
period = 12*30 # 30 years
remainingprincipal = 0
frame = []

for p in range(period+1):
    openningprincipal = remainingprincipal

    if p == 0:
        cashflow = 0
        interestpaid = 0
        principalpaid = cashflow-interestpaid
        remainingprincipal = principal
        frame.append([p, principal, rate, cashflow,
                        interestpaid, principalpaid, remainingprincipal])
    else:
        if period == 0:
            cashflow = openningprincipal
        else:
            cashflow = (principal * rate/12) / \
                (1 - 1/((1+rate/12)**(period)))
        interestpaid = openningprincipal*rate/12
        principalpaid = cashflow-interestpaid
        remainingprincipal = openningprincipal-principalpaid
        frame.append([p, openningprincipal, rate, cashflow,
                        interestpaid, principalpaid, remainingprincipal])

    mortgage1 = pd.DataFrame(frame, columns=["Month", "Opening Principal Balance", "Rates", "Cashflow",
                                    "Interest Paid", "Principal Paid", "Closing Princial Balance"])
    mortgage1.set_index("Month", inplace=True)

    mortgage1.Rates = (mortgage1.Rates*100).map('{:,.2f}%'.format)

print("Total Interest Paid: ${:#,.2f}".format(mortgage1['Interest Paid'].sum()))
mortgage1

Total Interest Paid: $718,695.06

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
0,"$1,000,000.00",4.00%,$0.00,$0.00,$0.00,"$1,000,000.00"
1,"$1,000,000.00",4.00%,"$4,774.15","$3,333.33","$1,440.82","$998,559.18"
2,"$998,559.18",4.00%,"$4,774.15","$3,328.53","$1,445.62","$997,113.56"
3,"$997,113.56",4.00%,"$4,774.15","$3,323.71","$1,450.44","$995,663.12"
4,"$995,663.12",4.00%,"$4,774.15","$3,318.88","$1,455.28","$994,207.84"
...,...,...,...,...,...,...
356,"$23,633.90",4.00%,"$4,774.15",$78.78,"$4,695.37","$18,938.53"
357,"$18,938.53",4.00%,"$4,774.15",$63.13,"$4,711.02","$14,227.50"
358,"$14,227.50",4.00%,"$4,774.15",$47.43,"$4,726.73","$9,500.78"
359,"$9,500.78",4.00%,"$4,774.15",$31.67,"$4,742.48","$4,758.29"
360,"$4,758.29",4.00%,"$4,774.15",$15.86,"$4,758.29",$0.00

#### **Mortgage 2:**
* Time: 20 years
* Rate: 2.5%
* Principal Amount: $1,000,000

In [11]:
principal = 1000000
rate = 0.025
period = 12*20 # 20 years
remainingprincipal = 0
frame = []

for p in range(period+1):
    openningprincipal = remainingprincipal

    if p == 0:
        cashflow = 0
        interestpaid = 0
        principalpaid = cashflow-interestpaid
        remainingprincipal = principal
        frame.append([p, principal, rate, cashflow,
                        interestpaid, principalpaid, remainingprincipal])
    else:
        if period == 0:
            cashflow = openningprincipal
        else:
            cashflow = (principal * rate/12) / \
                (1 - 1/((1+rate/12)**(period)))
        interestpaid = openningprincipal*rate/12
        principalpaid = cashflow-interestpaid
        remainingprincipal = openningprincipal-principalpaid
        frame.append([p, openningprincipal, rate, cashflow,
                        interestpaid, principalpaid, remainingprincipal])

    mortgage2 = pd.DataFrame(frame, columns=["Month", "Opening Principal Balance", "Rates", "Cashflow",
                                    "Interest Paid", "Principal Paid", "Closing Princial Balance"])
    mortgage2.set_index("Month", inplace=True)

    mortgage2.Rates = (mortgage2.Rates*100).map('{:,.2f}%'.format)

print("Total Interest Paid: ${:#,.2f}".format(mortgage2['Interest Paid'].sum()))
mortgage2

Total Interest Paid: $271,766.94

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Princial Balance
Month,,,,,,
0,"$1,000,000.00",2.50%,$0.00,$0.00,$0.00,"$1,000,000.00"
1,"$1,000,000.00",2.50%,"$5,299.03","$2,083.33","$3,215.70","$996,784.30"
2,"$996,784.30",2.50%,"$5,299.03","$2,076.63","$3,222.39","$993,561.91"
3,"$993,561.91",2.50%,"$5,299.03","$2,069.92","$3,229.11","$990,332.80"
4,"$990,332.80",2.50%,"$5,299.03","$2,063.19","$3,235.84","$987,096.97"
...,...,...,...,...,...,...
236,"$26,330.35",2.50%,"$5,299.03",$54.85,"$5,244.17","$21,086.18"
237,"$21,086.18",2.50%,"$5,299.03",$43.93,"$5,255.10","$15,831.08"
238,"$15,831.08",2.50%,"$5,299.03",$32.98,"$5,266.05","$10,565.03"
239,"$10,565.03",2.50%,"$5,299.03",$22.01,"$5,277.02","$5,288.01"
240,"$5,288.01",2.50%,"$5,299.03",$11.02,"$5,288.01",$0.00

#### **Mortgage 3:**
* Time: 30 years
* Rate: 7-1 Adjustable
* Principal Amount: $1,000,000

In [2]:
file = pd.read_csv("https://docs.google.com/spreadsheets/d/e/"
                   "2PACX-1vTa_hFe6PiKrpkNiEUswWvkrUxXNP8OocOD7"
                   "qyviwIBXiC-oieH9nszD1j_wQHVpvoeTou4VnK5rHgI/"
                   "pub?gid=387420101&single=true&output=csv", skiprows=6)
rates = file['Rates'].dropna().str.replace('%','').unique().astype('float')/100
rates

array([0.0978, 0.0764, 0.0699, 0.0683, 0.0806, 0.0713, 0.0716, 0.0593,
       0.0585, 0.0581, 0.0622, 0.0618, 0.0617, 0.051 , 0.0514, 0.0486,
       0.0395, 0.0335, 0.0448, 0.0387, 0.0401, 0.0432, 0.0399, 0.0455])

In [3]:
principal = 1000000
rate = rates[0]
interest = principal * rate/12
principals=[]
close_principals = []
interests = []
principal_paid = []
rates_list = []
cashflows = []
mortgage3 = pd.DataFrame()

In [4]:
payment=npf.pmt(rates[0]/12, 30*12, -principal)

In [5]:
for i in range(0, 7*12):
    principals.append(principal)
    interest = principal * rate/12
    interests.append(interest)
    paid = payment-interest
    principal_paid.append(paid)
    principal = principal - (paid)
    close_principals.append(principal)
    rates_list.append(rate)
    cashflows.append(payment)

In [6]:
t = 0
for r in rates[1:]:
    payment=npf.pmt(r/12, 23*12-t*12, -principal)
    for i in range(0, 12):
        principals.append(principal)
        interest = principal * r/12
        interests.append(interest)
        paid = payment-interest
        principal_paid.append(paid)
        principal = principal - (paid)
        close_principals.append(principal)
        rates_list.append(r)
        cashflows.append(payment)
    t = t+1

In [7]:
mortgage3['Opening Principal Balance'] = principals
mortgage3['Rates'] = rates_list
mortgage3['Cashflow'] = cashflows
mortgage3['Interest Paid'] = interests
mortgage3['Principal Paid'] = principal_paid
mortgage3['Closing Principal Balance'] = close_principals
mortgage3['Month'] = mortgage3.index+1
mortgage3.set_index('Month', inplace=True)
mortgage3['Rates'] = (mortgage3['Rates']*100).map('{:,.2f}%'.format)

In [8]:
print("Total Interest Paid: ${:#,.2f}".format(mortgage3['Interest Paid'].sum()))
display(mortgage3)

Total Interest Paid: $1,488,119.85

,Opening Principal Balance,Rates,Cashflow,Interest Paid,Principal Paid,Closing Principal Balance
Month,,,,,,
1,"$1,000,000.00",9.78%,"$8,613.58","$8,150.00",$463.58,"$999,536.42"
2,"$999,536.42",9.78%,"$8,613.58","$8,146.22",$467.36,"$999,069.05"
3,"$999,069.05",9.78%,"$8,613.58","$8,142.41",$471.17,"$998,597.88"
4,"$998,597.88",9.78%,"$8,613.58","$8,138.57",$475.01,"$998,122.87"
5,"$998,122.87",9.78%,"$8,613.58","$8,134.70",$478.88,"$997,643.99"
...,...,...,...,...,...,...
356,"$29,374.18",4.55%,"$5,941.83",$111.38,"$5,830.45","$23,543.73"
357,"$23,543.73",4.55%,"$5,941.83",$89.27,"$5,852.56","$17,691.17"
358,"$17,691.17",4.55%,"$5,941.83",$67.08,"$5,874.75","$11,816.42"
359,"$11,816.42",4.55%,"$5,941.83",$44.80,"$5,897.03","$5,919.39"
360,"$5,919.39",4.55%,"$5,941.83",$22.44,"$5,919.39",$-0.00